h1{
    color: red;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500;
    background: gray;
    padding: 50px;
    border: red solid;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}